.navbar.main-header .mobile-fixed-top {
    background-color: #fff;
    left: 15px;
    position: fixed;
    right: 15px;
    top: 0;
    z-index: 2;
    .mobile-top {
        position: relative;
        .close-button {
            margin: 15px 5px 0 -5px;
        }
        .site-logo {
            margin: 18px 0 0 1px;
            svg {
                height: 33px;
                width: 104px;
            }
        }
        .user-account {
            display: inline-block;
            height: 35px;
            position: absolute;
            right: 1px;
            top: 15px;
            width: 35px;
            .user-notifier {
                border-radius: 50%;
                display: inline-block;
                height: 8px;
                position: absolute;
                right: 9px;
                top: 3px;
                width: 8px;
            }
        }
    }
    .menu-list {
        border-bottom: 1px solid #e2e2e2;
        border-top: 1px solid #e2e2e2;
        list-style: none;
        margin: 15px -15px 0;
        padding: 20px 15px;
        position: relative;
        li {
            &.about-us-menu {
                width: 67%;
                display: inline-block;
                text-align: center;
                ul {
                    padding: 0;
                    li {
                        display: inline-block;
                        text-align: center;
                        width: 50%;
                        &:first-child {
                            text-align: left;
                        }
                    }
                }
            }
            a {
                color: #262726;
                display: inline-block;
                font-size: 13px;
                font-weight: 700;
                line-height: 13px;
                outline: 0;
                text-decoration: none;
                text-transform: uppercase;
                &.open-search-mobile {
                    svg {
                        height: 15px;
                        margin-top: -2px;
                        vertical-align: middle;
                        width: 15px;
                    }
                }
            }
            &.search-field {
                display: inline-block;
                text-align: right;
                width: 33%;
                .close-search-mobile {
                    svg {
                        height: 16px;
                        margin-top: -3px;
                        vertical-align: middle;
                        width: 15px;
                    }
                }
            }
        }
    }
}
.modal-content {
    .mobile-menu {
        margin: 0 -15px;
        padding: 155px 15px 25px;
        .search-area-mobile {
            margin-bottom: 30px;
            position: relative;
            .search-input {
               -webkit-appearance: none;
               -moz-appearance: none;
               appearance: none;
               background-color: transparent;
               border-radius: 22px;
               border: 2px solid;
               color: #262726;
               font-size: 16px;
               font-weight: 700;
               line-height: 16px;
               outline: 0;
               padding: 7px 30px 7px 15px;
               width: 100%;
            }
            .search-button, .close-search-button {
                background-size: 20px 20px;
                border: 0;
                height: 20px;
                outline: 0;
                position: absolute;
                right: 10px;
                top: 9px;
                width: 20px;
            }

            .close-search-button {
                background: url('../img/close-button.svg') no-repeat;
            }

            .search-button {
                background: url('../img/search-button.svg') no-repeat;
            }
        }
        .section-links-mobile {
            ul {
                list-style: none;
                padding: 0;
                li.menu-item {
                    padding: 0;
                }
                a {
                    margin-bottom: 23px;
                    display: block;
                    img {
                        height: 22px;
                    }
                }
            }
        }
        .search-title {
            color: #a9a9a9;
            font-size: 10px;
            font-weight: 400;
            line-height: 10px;
            margin-bottom: 16px;
        }
        .search-results-mobile {
            .article {
                margin-bottom: 35px;
                .title {
                    color: #262726;
                    font-family: $titlinggothicfb-comp-font;
                    font-size: 16px;
                    line-height: 18px;
                    letter-spacing: .5px;
                    .search-term {
                        display: inline-block;
                        border-bottom: 1px solid #262726;
                    }

                    &:hover, &:focus {
                        text-decoration: none;
                    }
                }
                .date {
                    font-family: $roboto-cond-font;
                    font-size: 10px;
                    line-height: 12px;
                    color: #a9a9a9;
                }
                .site-logo.logo-small {
                    margin: 3px 0 0;
                    width: 35px;
                    height: 12px;
                    img {
                        height: 100%;
                    }
                }
            }
            .no-results {
                font-size: 14px;
                line-height: 16px;
            }
            .see-all {
                display: inline-block;
                font-family: $titlinggothicfb-comp-font;
                font-size: 14px;
                line-height: 16px;

                @media(min-width: $screen-sm-min) {
                    margin-top: 30px;
                }
                a {
                    color: #262726;
                    text-decoration: none;

                    &:hover {
                        text-decoration: none;
                    }
                }
                .see-all-icon {
                    width: 12px;
                    height: 12px;
                }
            }
            .loader {
                display: block
            }
        }
        .search-categories-mobile {
            .search-title {
                color: #a9a9a9;
                font-size: 10px;
                font-weight: 400;
                line-height: 10px;
                margin-bottom: 16px;
            }
            .categories-list {
                .category-name {
                    background-color: #f0f0f0;
                    border-radius: 14px;
                    color: #262726;
                    display: inline-block;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 16px;
                    margin-bottom: 25px;
                    outline: 0;
                    padding: 10px 12px;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    width: 130px;
                    word-wrap: break-word;
                    &:not(:nth-child(2n+2)) {
                        margin-right: 23px;
                    }
                }
            }
        }
        .shipdata-links {
            border-bottom: 1px solid #e2e2e2;
            border-top: 1px solid #e2e2e2;
            margin: 15px -15px 25px;
            padding: 15px;
            ul {
                margin: 0;
                padding-left: 0;
                li {
                    display: inline-block;
                    width: 32%;
                    &:nth-child(2) {
                        text-align: center;
                    }
                    &:last-child {
                        text-align: right;
                    }
                    a {
                        color: #262726;
                        display: inline-block;
                        font-family: $titlinggothicfb-comp-font;
                        font-size: 16px;
                        letter-spacing: .5px;
                        line-height: 16px;
                        outline: 0;
                        text-decoration: none;
                        text-transform: uppercase;
                        padding: 0;
                        background: transparent;
                    }
                }
            }
        }
    }
}

#profile-menu {
    top: 70px;
    .modal-dialog {
        background: #fff;
        height: 100%;
        margin: 0;
        .modal-content {
            border: 0;
            border-bottom: 4px solid;
            border-radius: 0;
            height: 100%;
            .mobile-top {
                padding: 0 15px;
                position: relative;
                text-align: left;
                .menu-button {
                    display: inline-block;
                    height: 38px;
                    margin: 16px 0 0 -4px;
                    outline: 0;
                    text-decoration: none;
                    width: 38px;
                }
                .site-logo {
                    display: inline-block;
                    margin: 18px 0 0 1px;
                    position: relative;
                    vertical-align: top;
                    svg {
                        height: 33px;
                        width: 104px;
                    }
                }
                .user-account {
                    display: inline-block;
                    height: 35px;
                    position: absolute;
                    right: 16px;
                    top: 1px;
                    width: 35px;
                    .user-notifier {
                        border-radius: 50%;
                        display: inline-block;
                        height: 8px;
                        position: absolute;
                        right: 9px;
                        top: 3px;
                        width: 8px;
                    }
                }
            }
            .user-section {
                padding-top: 40px;
                &.spid-user-status-default {
                    .spid-user-status-agreement, .spid-user-status-buy, .spid-user-status-ok {
                        &.login-wrapper {
                            display: none;
                        }
                    }
                }
                &.spid-user-status-agreement {
                    .buy-subscription {
                        display: none;
                    }
                    .spid-user-status-buy, .spid-user-status-ok, .spid-user-status-default {
                        &.login-wrapper {
                            display: none;
                        }
                    }
                }
                &.spid-user-status-buy {
                    .spid-user-status-ok, .spid-user-status-default, .spid-user-status-agreement {
                        &.login-wrapper {
                            display: none;
                        }
                    }
                }
                &.spid-user-status-ok {
                    .buy-subscription {
                        display: none;
                    }
                    .spid-user-status-default, .spid-user-status-agreement, .spid-user-status-buy {
                        &.login-wrapper {
                            display: none;
                        }
                    }
                }
                .buy-subscription {
                    border-radius: 18px;
                    color: #fff;
                    display: block;
                    letter-spacing: .5px;
                    margin: 0 auto;
                    outline: 0;
                    padding: 10px 25px;
                    text-decoration: none;
                    text-transform: uppercase;
                    width: 155px;
                    text-align: center;
                }
                .user-name {
                    display: block;
                    padding: 0;
                }
                .login-wrapper {
                    padding: 0;
                    display: block;
                    vertical-align: middle;
                }
                .user-menu {
                    text-align: center;
                    a {
                        color: #262726;
                        display: inline-block;
                        font-family: $roboto-cond-font;
                        font-size: 16px;
                        font-weight: 700;
                        letter-spacing: 0;
                        line-height: 16px;
                        margin-top: 25px;
                        position: relative;
                        text-decoration: none;
                        text-transform: uppercase;
                        &.logout {
                            color: #aaaaaa;
                            display: block;
                        }
                        .profile-notifier {
                            border-radius: 50%;
                            display: inline-block;
                            height: 8px;
                            left: -14px;
                            position: absolute;
                            top: 3px;
                            width: 8px;
                        }
                    }
                }
            }
        }
    }
}