section h5 {
    color: #000104;
    font-family: $titlinggothicfb-comp-font;
    font-size: 36px;
    letter-spacing: 0.15px;
    line-height: 38px;
    border-bottom: 2px solid red;
    display: inline-block;
    margin: 0 0 30px;
    padding: 0 2px;
}

.section-common {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 20px;
    @media(min-width: $screen-sm-min) {
        margin-bottom: 30px;
    }
    h3 {
        color: #fff;
        display: inline-block;
        font-family: $title-font;
        font-size: 28px;
        letter-spacing: .75px;
        line-height: 50px;
        margin: 0 0 30px -35px;
        padding: 0 25px 0 30px;
        @media(min-width: $screen-sm-min) {
            margin: 0 0 0 -30px;
        }
    }
    .down-arrow {
        background-color: transparent;
    } 
}

.down-arrow {
    border-left: 11px solid transparent;
    border-right: 0 solid transparent;
    border-top: 11px solid transparent;
    display: none;
    height: 0;
    margin: 0 0 30px -20px;
    width: 0;
    @media(min-width: $screen-sm-min) {
        display: block;
    }
}