@import "./../../../theme/assets/scss/_variables.scss";

.feltdataContainer {
  .completeContentContainer {
    border: 10px solid #DBDBDB;
    font-family: $fishiri-font;
    background: #DBDBDB;
    margin-top: 12px;

    &#filterFeltPage {
      background: #FFFFFF;
    }

    @media (min-width: $screen-sm-min) {
      margin-top: 0;
    }

    .navInfo {
      padding: 5px;
      font-size: 13px;
      line-height: 15px;
      border-bottom: 10px solid #DBDBDB;
      background-color: #FFFFFF;

      a {
        color: #EF9530;
      }
    }

    .mainContentArea {
      background: #FFFFFF;
      
      h1 {
        margin: 5px;
        font-weight: bold;
        line-height: 20px;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
      }

      h2 {
        margin: 5px 0;
        font-weight: bold;
        line-height: 16px;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        color: #333333;
      }

      .titleField {
        h2 {
          font-size: 16px;
          line-height: 18px;
          font-weight: bold;
          text-align: start;
          text-transform: none;
        }
      }

      .feltDescription {
        padding: 10px 0;
        margin: 10px 0;
        font-size: 11px;
        line-height: 13px;
        color: #707070;
      }

      .contact {
        font-size: 11px;
        line-height: 13px;
        padding: 10px 0;
        margin-top: -20px;


        a {
          color: #000000;

          &:hover {
            color: #000000;
          }
        }
      }

      .mainContentHolder {
        background: #FFFFFF;

        h3 {
          margin: 13px 0;
          font-size: 14px;
          line-height: 16px;
          color: #707070;
          font-weight: bold;
        }

        .beskrivelseInfoHolder {
          background: -webkit-linear-gradient(#FFFFFF, #F2F2F2);
          background: -o-linear-gradient(#FFFFFF, #F2F2F2);
          background: -moz-linear-gradient(#FFFFFF, #F2F2F2);
          background: linear-gradient(#FFFFFF, #F2F2F2);
          margin-left: 2px;
          margin-bottom: 35px;
          border-top: 1px solid #EDEDED;
          min-height: 228px;

          #beskrivelseHolder {
            font-size: 11px;
            padding: 10px 0;
            display: inline-block;

            table {
              width: 100%;
              border-collapse: separate;
              border-spacing: 2px;

              tr {
                td {
                  line-height: 12px;

                  &.title {
                    color: #7C7C7C;
                    font-weight: bold;
                    padding: 3px 0;
                  }

                  &.value {
                    text-align: right;
                    color: #7C7C7C;
                    padding: 1px;
                  }
                }
              }
            }
          }

          .sectorImage {
            padding: 0;

           img {
              max-width: 100%;
            }
          }
        }
      }

      table#oversiktTable, #header {
        width: 100%;
        border-left: 1px solid #CCCCCC;
        border-top: 1px solid #CCCCCC;

        thead {
          tr {
            vertical-align: middle;

            th {
              background: #FFFFFF;
              text-transform: uppercase;
              padding: 12px;
              color: #707070;
              font-size: 15px;
              font-weight: bold;
              line-height: 17px;
              height: auto;
              border-right: 1px solid #CCCCCC;
              border-bottom: 1px solid #CCCCCC;

              &.footable-sorted {
                background: #EEEEFF;
              }

              &.footable-sorted-desc {
                background: #EEEEFF;
              }
            }

            &.summaryRow {
              background: #F9F9F9;

              td {
                min-width: 70px;
                max-width: 170px;
                padding: 0.8em;
                border-right: 1px solid #CCCCCC;
                border-bottom: 1px solid #CCCCCC;

                &.feltInvests {
                  color: #707070;
                  text-align: right;
                }

                #nameFilter {
                  max-width: 95px;
                  @media(min-width: $screen-xs-min) {
                    max-width: 100%;
                  }
                }

                select {
                  max-width: 100px;
                  @media(min-width: $screen-xs-min) {
                    max-width: 150px;
                  }
                }
              }

              &.summaryTop {
                font-size: 11px;
                font-style: italic;
                border-bottom: 2px solid #999999;

                .feltInvests {
                  font-weight: bold;
                }
              }
            }
          }
        }

        tbody {
          font-size: 11px;
          line-height: normal;

          tr {
            &:hover {
              cursor: pointer;
              background: #cdcdcd;
            }

            td {
              color: #707070;
              min-width: 70px;
              max-width: 170px;
              padding: 0.8em;
              border-right: 1px solid #CCCCCC;
              border-bottom: 1px solid #CCCCCC;

              &.feltInvests {
                text-align: right;
              }

              &.feltName {
                a {
                  color: #000000;
                  font-weight: bold;
                  &:hover, &:active, &:focus {
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }

        tfoot {
          tr {
            &.summaryRow {
              background: #F9F9F9;

              td {
                min-width: 70px;
                max-width: 170px;
                padding: 0.8em;
                border-right: 1px solid #CCCCCC;
                border-bottom: 1px solid #CCCCCC;

                &.feltInvests {
                  text-align: right;
                }
              }

              &.summaryBottom {
                font-size: 11px;
                font-style: italic;
                border-top: 2px solid #999999;

                .feltInvests {
                  font-weight: bold;
                  color: #707070;
                }
              }
            }
          }
        }
      }
    }

    .mainContentAreaRight {
      background: #FFFFFF;
      display: inline-block;
      padding: 0 10px;
      margin: 0 -5px;

      @media(min-width: $screen-sm-min) {
        margin-right: -10px;
        margin-left: 0;
      }

      .chartHead {
        margin-bottom: 0;
      }

      #chart_div {
        canvas {
          width: 100% !important;
        }
      }

      .footer {
        margin: 10px 0;
        font-size: 11px;
        line-height: 13px;
        font-style: italic;
        color: #707070;

        .updated {
          margin-top: 10px;
        }
      }

      table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 2px;

        tr {
          td {
            font-size: 11px;
            line-height: 13px;

            a {
              color: #707070;
            }

            &.title {
              color: #7C7C7C;
              font-weight: bold;
              padding: 3px 0 13px;
            }

            &.value {
              text-align: right;
              color: #7C7C7C;
              padding: 1px 0 11px;

              a {
                color: #000000;
              }
            }
          }
        }
      }

      h3 {
        font-size: 13px;
        line-height: 14px;
        padding: 5px 0;
        margin: 25px 0;
        font-weight: bold;
      }

      #feltGallery {
        display: block;

        .carousel-inner {
          border: 1px solid #E2E2E2;
          width: 100%;

          .item {
            overflow: hidden;
            top: 50%;
            transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -webkit-transition: 0.6s ease-in-out left;
            -o-transition: 0.6s ease-in-out left;
            transition: 0.6s ease-in-out left;

            img {
              width: 100%;
              max-width: none;
            }
          
          }
        }

        .carousel-inner > .next {
          left: 100%;
        }
        .carousel-inner > .prev {
          left: -100%;
        }
        .carousel-inner > .next.left,
        .carousel-inner > .prev.right {
          left: 0;
        }
        .carousel-inner > .active.left {
          left: -100%;
        }
        .carousel-inner > .active.right {
          left: 100%;
        }

        .carousel-controls {
          margin-top: 10px;
          text-align: center;

          #imagesCount {
            color: #707070;
            font-size: 11px;
          }

          a {
            display: inline-block;
            height: 10px;
            width: 18px;
            background-repeat: no-repeat;

            &.carousel-next {
              background-image: url('../img/carousel-next.png');
            }

            &.carousel-previous {
              background-image: url('../img/carousel-prev.png');
            }
          }
        }
      }
    }
  }

  #detailedFeltPage .mainContentHolder {
    .nav-tabs {
      padding-top: 3px;
      padding-left: 3px;
      padding-right: 3px;
      background: -webkit-linear-gradient(#E9E9E9, #C2C2C2);
      background: -o-linear-gradient(#E9E9E9, #C2C2C2);
      background: -moz-linear-gradient(#E9E9E9, #C2C2C2);
      background: linear-gradient(#E9E9E9, #C2C2C2);
      li {
        float: none;

        @media(min-width: $screen-sm-min) {
          float: left;
        }
        
        &.active {
          a {
            border-color: #EB8F00;
            border-bottom: 1px solid #FFFFFF;

            &:hover {
              background: #FFFFFF;
            }
          }
        }

        a {
          margin-right: 5px;
          background-color: #FFFFFF;
          font-size: 12px;
          line-height: 14px;
          font-weight: bold;
          padding: 6px 12px;
          color: #000000;
          border-bottom: 0;
        }

        :hover {
          border-color: #FBCB09;
          border-bottom: none;
          background: #FDF5CE 50% 50% repeat-x;
        }
      }
    }
    .connectedArticles {
      font-family: $fishiri-tabs-font;
      padding: 3px;
      border: 1px solid #DDDDDD;
      border-radius: 4px;
      
      .tab-pane {
        min-height: 286px;

        .articlesList {
          list-style: none;
          padding: 12px 17px;

          li {
            margin-bottom: 10px;

            :hover {
              background-color: #f0f0f0;
            }

            a {
              padding-left: 80px;
              display: block;
              
              em {
                margin-left: -80px;
                color: #EF9530;
                font-size: 12px;
                line-height: 14px;
                font-style: normal;
                float: left;
              }

              .article {
                font-size: 12px;
                line-height: 14px;

                .title {
                  font-weight: bold;
                  color: #000000;
                }
                .excerpt {
                  color: #666666;
                }
              }
            }
          }
        }
      }
      
      .tabButtons {
        border-top: 1px solid #DDDDDD;
        text-align: center;
        font-size: 12px;
        line-height: 14px;
        margin: 0 17px;
        padding: 20px 0;

        a {
          text-decoration: none;
          color: #000000;
          padding: 0 20px;
        }
      }
    }
  }
}
